USER_SERVICE_PORT=4001
MOVIE_SERVICE_PORT=4002
REVIEW_SERVICE_PORT=4003
GATEWAY_PORT=8080
MONGO_URI_USER=mongodb://localhost:27017/users_db
MONGO_URI_MOVIE=mongodb://localhost:27017/movies_db
MONGO_URI_REVIEW=mongodb://localhost:27017/reviews_db
REDIS_URL=redis://localhost:6379
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
NODE_ENV=development
